@import "../../styles/variables";
@import "../../styles/extends";


.display-container{
    display: flex;
}


.container-box{
    position: relative;
    display: flex;
    justify-content: center;
}